header {
    margin: auto;
    height: 50px;
    border-bottom: solid 2px black;
}
.m {
  /*  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  */
    width: 1000px;
    border: solid 1px;
    background-color: white;
    margin: auto;
    margin-top: 150px;
    
}

nav{
    position: relative;
    top: -52px;
    left: -300px;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: solid 1px;
}

nav ul{
    list-style: none;
}
nav li{
    line-height: 50px;
    padding:5px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}

