header {
    margin: auto;
    height: 50px;
    border-bottom: solid 2px black;
}
#m {
    display: flex;
    justify-content: center;
    width: 800px;
    border: solid 1px;
}

nav{
    margin: 25px auto 0;
    position: relative;
    width: 300px;
    height: 50px;
    border-radius: 8px;
}

nav ul{
    list-style: none;
}
nav li{
    line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

